# Emacs
*~
\#*\#

# Autotools
/autom4te.cache
/configure
/config.log
/config.status
/include.mk

# Erlang
erl_crash.dump
ebin/*.beam
ebin/*.app

# C
core*
/priv/bin/runpty

# Doc
/lux.html.tmp
/doc/debug_cmds.md
