# Emacs
*~
\#*\#
.edts

# Autotools
/autom4te.cache
/configure
/config.log
/config.status
/include.mk

# Erlang
erl_crash.dump
ebin/*.beam
ebin/*.app

# C
core*
/priv/bin/runpty
/priv/bin/runpty.dSYM

# Doc
*.d
*.tmp
/README.md
/doc/cmd_line_opts.md
/doc/config_params.md
/doc/debug_cmds.md
/doc/debugging.md
/doc/examples.md
/doc/logs.md
/doc/main_concepts.md
/doc/references.md
/doc/script_syntax.md
/doc/toc.md
/tutorial/README.md


# Lux
lux_logs
tmp_logs
lux_history*.html
